@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* for firefox browser */
*{
    scrollbar-width: none;
}
/* for chrome, opera, safari broswers */
*::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #141820;
    color: white;
    font-family: "Roboto";
}
nav{
    background-color: #141820;
}
.heading{
    font-family: "Poiret One";
}